@model TypeBreakdownViewModel
@{
    ViewData["Title"] = "30-Day Breakdown";
}

<h1>30-Day Transaction Breakdown</h1>

<div>
    <canvas id="myChart"></canvas>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

    </script>

}
