@model Assignment_2.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h1>Password Change</h1>

<h4>@Context.Session.GetString(nameof(Customer.Name))</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Password">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPasswordHash" class="control-label"></label>
                <input asp-for="OldPasswordHash" class="form-control" type="password" />
                <span asp-validation-for="OldPasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordHash1" class="control-label"></label>
                <input asp-for="NewPasswordHash1" class="form-control" type="password" />
                <span asp-validation-for="NewPasswordHash1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordHash2" class="control-label"></label>
                <input asp-for="NewPasswordHash2" class="form-control" type="password" />
                <span asp-validation-for="NewPasswordHash2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary" />
                <a asp-action="Details" class="btn btn-secondary">Cancel</a>
            </div>
            @Html.ValidationMessage("PasswordChange", new { @class = "text-danger" })
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
