<div>
<h1 class="display-4">Registration Successful</h1>
</div>

<div>
    <h2>Welcome to the Most Common Bank of Australia</h2>
    <p>
        IMPORTANT: Your Login ID is: <strong>@Context.Session.GetString("LoginID")</strong>
        <br />
        <br />
        Use this number to login to online services <br />
        Keep this number in a safe place
    </p>
    <p>
        <a asp-controller="Customers" asp-action="Details">Click here to complete your profile</a>
        or click on one of the links in the navigation bar above to access personal services
    </p>
</div>